/*
    Colors by: http://bootflat.github.io/color-picker.html
    Colors by: http://talkslab.github.io/metro-bootstrap/components.html
*/
@warning: #f1c40f;
@danger: #e74c3c;
@success: #2ecc71;
@disabled: #ecf0f1;

@colors: #2e8bcc, #339933, #e51400, #ffc40d, #f39c12, #e671b8, #7b4f9d, #8cbf26, #ff0097, #00aba9, #1abc9c, #16a085, @success, #27ae60, #3498db, #2980b9, #9b59b6, #8e44ad, #34495e, #2c3e50, @warning, #e67e22, #d35400, @danger, #c0392b, #ecf0f1, #000000, #FFFFFF, transparent, #bdc3c7, #95a5a6, #7f8c8d, #3498db, @danger, @warning, @success, #48CFAD, lightgray, #c91f37, #dc3023, #9d2933, #cf000f, #e68364, #f22613, #cf3a24, #c3272b, #8f1d21, #d24d57, #f08f90, #f47983, #db5a6b, #c93756, #fcc9b9, #ffb3a7, #f62459, #f58f84, #875f9a, #5d3f6a, #89729e, #763568, #8d608c, #a87ca0, #5b3256, #bf55ec, #8e44ad, #9b59b6, #be90d4, #4d8fac, #5d8cae, #22a7f0, #1c96f4, #59abe3, #48929b, #317589, #89c4f4, #4b77be, #1f4788, #003171, #044f67, #264348, #7a942e, #8db255, #5b8930, #6b9362, #407a52, #006442, #87d37c, #26a65b, #26c281, #049372, #2abb9b, #16a085, #36d7b7, #03a678, #4daf7c, #d9b611, #f3c13a, #f7ca18, #e2b13c, #a17917, #f5d76e, #f4d03f, #ffa400, #e08a1e, #ffb61e, #faa945, #ffa631, #ffb94e, #e29c45, #f9690e, #ca6924, #f5ab35, #bfbfbf, #f2f1ef, #bdc3c7, #ecf0f1, #d2d7d3, #757d75, #eeeeee, #abb7b7, #6c7a89, #95a5a6, #ecf0f1;
@names: blue, green, red, yellow, orange, pink, purple, lime, magenta, teal, turquoise, green-sea, emerald, nephritis, peter-river, belize-hole, amethyst, wisteria, wet-asphalt, midnight-blue, sun-flower, carrot, pumpkin, alizarin, pomegranate, clouds, black, white, none, silver, concrete, asbestos, info, danger, warning, success, mint, gray, foreign-crimson, red-orange, cochineal-red, monza, brewed-mustard-brown, pomegranate, scarlet, pure-crimson, true-red, chestnut-rose, one-kin-dye, peach-colored, red-plum-colored, medium-crimson, cherry-blossom-color, washed-out-crimson, radical-red, ibis-wing-color, wisteria-purple, bellflower-color, wisteria-color, iris-color, tatarian-aster-color, thin-color, violet-color, medium-purple, studio, wisteria, light-wisteria, sky-color, ultramarine-color, picton-blue, dodger-blue, picton-blue, light-blue-color, thousand-herb, jordy-blue, steel-blue, lapis-lazuli-color, navy-blue-color, hanada, indigo-color, siskin-sprout-yellow, young-green-onion, fresh-onion, young-bamboo-color, patina, green-bamboo, gossip, eucalyptus, jungle-green, observatory, jungle-green, mountain-meadow, turquoise, free-speech-aquamarine, ocean-green, patrinia-flowers, amur-cork-tree, ripe-lemon, japanese-triandra-grass, rapeseed-oil-colored, cream-can, saffron, bright-golden-yellow, sumac-dyed, gamboge, corn-colored, egg-colored, floral-leaf-colored, golden-fallen-leaves, ecstasy, amber, lightning-yellow, silver, cararra, silver-sand, porcelain, pumice, harbor-rat, gallery, edward, lynch, cascade, disabled;


// mixin to iterate over colors and create CSS class for each one
.make-color-classes(@i: length(@colors)) when (@i > 0) {
    .make-color-classes(@i - 1);
    @name: extract(@names, @i);
    @color: extract(@colors, @i);
    .color-@{name} {
        color: @color !important;  
    }
    .back-@{name} {
        background-color: @color;
        fill: @color;
        color: contrast(@color, black, white, 60%) !important;
        &.hover-for:hover {
            @lighter: hsl(hue(@color), saturation(@color), lightness(@color)+10%);
            @darker: hsl(hue(@color), saturation(@color), lightness(@color)-10%);
            @new: contrast(@color, @darker, @lighter, 60%);
            background-color: @new;
            fill: @new;
            color: contrast(@new, black, white, 60%);    
        }
    }
    .back-@{name}-important {
        background-color: @color !important;
        fill: @color !important;
        color: contrast(@color, black, white, 60%) !important;
    }
    .hover-@{name}:hover {
        background-color: @color;
        fill: @color;
        color: contrast(@color, black, white, 60%);
    }
    .hover-@{name}-important:hover {
        background-color: @color !important;
        fill: @color !important;
        color: contrast(@color, black, white, 60%) !important;
    }
    .hover-color-@{name}:hover {
        color: @color;
    }
    .border-@{name}:hover {
        border-color: @color;
        stroke: @color;
    }
    .border-@{name} {
        border-color: @color !important;
        stroke: @color !important;
    }
}
.make-color-classes(); // run the mixin
