.make-op-classes(@op: 0) when (@op < 1.05) {
    .make-op-classes(@op + 0.05);
    @name: round(@op*100,0);
    .op-@{name} {
        opacity: @op !important;
    }
}

.make-font-2to10-classes(@size: 1) when (@size <= 10) {
    .make-font-2to10-classes(@size + 1);
    @name: round(@size, 0);
    .font-@{name}x {
        font-size: (@size+0em) !important;
    }
}
.make-font-0to2-classes(@size: 0.1) when (@size < 0.9) {
    .make-font-0to2-classes(@size + 0.1);
    @name: round(@size * 10, 1);
    .font-0_@{name}x {
        font-size: (@size+0em) !important;
    }
}

.make-font-0to2-classes(@size: 1.1) when (@size < 2) and (@size > 1) {
    .make-font-0to2-classes(@size + 0.1);
    @name: round(@size*10-10, 0);
    .font-1_@{name}x {
        font-size: (@size+0em) !important;
    }
}


.make-padding-classes(@size: 1) when (@size <= 10) {
    .make-padding-classes(@size + 1);
    @name: @size;
    .padding-@{name}px {
        padding: (@size+0px) !important;
    }
}

/****** Opacity *******/
.make-op-classes(); // run the mixin

/****** Font *******/
.make-font-2to10-classes(); // run the mixin
.make-font-0to2-classes(); // run the mixin

.bold {
    font-weight: bold;
}

.not-bold {
    font-weight: normal;
}

.bold600 {
    font-weight: 600;
}
/****** Borders*******/
.rounded {
    border-radius: 4px;
}
.border-1
{
    border: 1px solid black;
}
/****** Styles *******/
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}
.hidden, .hide {
    display: none;
}

.clear {
    clear: both;
}

.no-border {
    border-width: 0 !important;
}

.no-radius {
    border-radius: 0;
}
.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}

.make-padding-classes(); // run the mixin

.margin-5px {
    margin: 5px;
}

.margin-10px {
    margin: 10px;
}
/***** Positions *******/
.position-fixed {
    position: fixed;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.center-horizontal {
    left: 50%;
}

.center-vertical {
    top: 50%;
}

.z1000 {
    z-index: 1000;
}

.left-5 {
    left: 5px;
}

.left-10 {
    left: 10px;
}

.left-20 {
    left: 20px;
}
/***** Sizes ******/
.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}
/***** Rotate ******/
.rot-45 {
    transform: rotate(45deg);
}

.rot-45i {
    transform: rotate(-45deg);
}

.rot-90 {
    transform: rotate(90deg);
}

.rot-90i {
    transform: rotate(-90deg);
}
/***** Stroke *****/
.stroke-op-50 {
    stroke-opacity: 0.5;
}


/***** Bootstrap add-ons *****/
.no-caret.dropdown-toggle::after {
    display:none
}
.pointer:hover {
    cursor: pointer;
}